/bin
/build
/obj
/lib
/output
/.vs
/.vscode
librw.vcxproj.user
librw.VC.db
librw.VC.VC.opendb

*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app
rwfixed.h